.navigation {
  margin: 0;
  padding: 30px;
  list-style: none;
  width: 250px;
}

@media (max-width: 900px) {
  .navigation {
    width: 150px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .navigation {
    width: 100%;
    padding: 0;
  }
}

.mantine-NavLink-root {
  text-transform: uppercase;
}

.mantine-NavLink-root:hover,
.mantine-NavLink-root:active {
  border-radius: 10px;
  background-color: #FBF182;
}
